<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FinalApplication"
        tools:targetApi="31">
        <activity
            android:name=".jsondata.ReadJsonActivity"
            android:exported="false" />
        <activity
            android:name=".sharedpeferences.SharedPeferencesActivity"
            android:exported="false" />
        <activity
            android:name=".data.fragment2fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".data.fragment2activity.RecievingDataActivity"
            android:exported="false" />
        <activity
            android:name=".data.activity2fragment.DataSendingActivity"
            android:exported="false" />
        <activity
            android:name=".data.DataActivity"
            android:exported="false" />
        <activity
            android:name=".data.activity2activity.DataRecievingActivity"
            android:exported="false" />
        <activity
            android:name=".data.activity2activity.DataPassingActivity"
            android:exported="false" />
        <activity
            android:name=".slidermenu.SliderMenuActivity"
            android:exported="false" />
        <activity
            android:name=".layout.gridlayout.GridLayoutNextActivity"
            android:exported="false" />
        <activity
            android:name=".layout.gridlayout.GridLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.ViewPager2Activity"
            android:exported="false" />
        <activity
            android:name=".bottomtoolbarmenu.BottomToolBarMenuActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.dateandtime.DateAndTimeActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.timepicker.TimePickerActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.customdialog.CustomDialogActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.datepicker.DateDifferenceActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.datepicker.DatePickerActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.alertdialog.AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".toolbarmenu.ToolBarMenuActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.switchs.SwitchActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.togglebutton.ToggleButtonActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.spinner.TwoSpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".widgets.spinner.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".fragmentlifecycle.FragmentLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".twoactivityinteraction.SecondActivityLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".twoactivityinteraction.FirstActivityLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".activitylifecycle.ActivityLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>